.container{
	width: 500px;
	height: 500px;
	margin: 50px auto;
	overflow: hidden;
	border: 1px solid #ccc;
	text-align: center;
}
.sidebar{
	float: left;
	width: 200px;
}
.main{
	float: right;
	width: 300px;
	height: 500px;
}
.list{
	width: 80%;
}
.list li{
	height: 30px;
	line-height: 30px;
	border: 1px dotted #ccc;
}